body {
  margin: 0px;
  box-sizing: border-box;
  background-color: beige;
  height: 100vh;

  border-style: solid;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  height: 40px;
  background-color: black;
  font-family: 'Montserrat';
  margin-bottom: 20px;
}

nav .left {
  display: flex;
}
nav .left p {
  margin-right: 25px;
}
section {
  display: flex;
}

.red {
  background-color: red;
}
.red img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.white {
  background-color: white;
}
.white img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav,
footer {
  grid-column: span 2;
}
