body {
  margin: 0px;
  box-sizing: border-box;
  background-color: white;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  margin: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  height: 40px;
  background-color: black;
  font-family: 'Montserrat';
  margin-bottom: 30px;
}

nav .left {
  display: flex;
}
nav .left p {
  margin-right: 25px;
}

h1 {
  text-align: center;
  color: black;
  font-family: 'Montserrat';
}

.lightgray {
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
  font-family: 'Brush Script MT';
  font-size: 25px;
  border: 10px solid white;
}
.lightgray img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.white {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Brush Script MT';
  font-size: 25px;
  border: 10px solid white;
}
.white img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}
